.card {
  width: 150px;
  background: rgb(255, 255, 255);
  margin: 10px;
  padding: 0 0 10px 0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  width: 152px;

}

.card img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}

.title {
  margin-top: 20px;
  padding: 5px 5px 5px 8px;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif
}

.date {
  color: rgb(130, 126, 126);
  font-weight: 100;
  font-size: 0.75rem;
  padding: 0px 5px 5px 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.cardsPop {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}