* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  /* border: solid #5B6DCD 1px; */
}

body {
  font-family: helvetica;
}

.container-main {
  width: 90%;
  margin: auto;
}

.container h1 {
  text-align: center;
  margin: 20px;
}